<div class="container-fluid">
    <div class="row mt-4">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
            <div class="col-6 mx-auto">{{>message}}</div>
            <div class="float-left ml-5"><h3>INVENTARIO</h3></div>
            <div class="table-responsive-lg">
              <table id="inventoryTable" class="table table-sm table-striped table-bordered mt-4 bg-white">
                <thead style="background-color: rgb(92, 135, 230); font-size: 1.15rem;">
                  <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Elemento</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each inventoryRows}}
                  <tr>
                    <th scope="row" id="idCompra">{{IdElemento}}</th>
                    <td>{{NombreElemento}}</td>
                    <td>{{PrecioUnitario}}</td>
                    <td>{{Stock}}</td>                                                    
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
        </main>
    </div>
</div>