:root{
  --primary: #007bff;
}

body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: url("../img/fondo.jpg");
    background-size: cover;
}

.message {
  z-index: 200;
  position: fixed;
  right: 0;
  bottom: 0;
}

/* Loader */
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 4s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 4s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* Loader */


#cabecera{    
    border-bottom: 3px solid rgb(99, 194, 218);    
    padding: 20px;       
}
#cabecera h1{    
    font-family: 'Kumbh Sans', sans-serif;
    color: rgb(82, 78, 78);
    font-weight: lighter;
    text-shadow: 3px 3px 3px  #a0c6e9;
}
.socialmediaicons{
    font-size: 30px;
}
.fa, .fab {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 0.5s;
}
.fa:hover, .fab:hover {
    background-color: rgb(139, 152, 209);
    text-decoration: none;
}
/* #formContainer{
    background-image: url('../img/bodyImage.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;    
}
#formulario{
    box-shadow: 0 0 20px rgb(82, 78, 78);
    background-color: rgba(0, 0, 0, 0.233);
    padding: 20px;
    width: 60%;
    margin-left: 20%;
    margin-top: 20px;
}
#botonLogin {
    background-color: rgb(41, 39, 39); 
    transition: 0.15s;      
}
#botonLogin:hover,#crearUsuario:hover{
    background-color: rgb(99, 194, 218);  
    color: black;    
}
#crearUsuario{
    border: 2px solid  rgb(141, 141, 141);
    background-color: rgb(229, 232, 233);
    padding: 10px;       
    border-radius: 5px;
    transition: 0.15s;
    text-decoration:none;
} */
#slider{   
    background-color: rgb(226, 225, 224); 
    height: 600px; 
    overflow: hidden;
}
/*.carousel{
    height: 600px; 
    overflow: hidden;  
}*/
.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: black;
}
#formulario{
    box-shadow: 0 0 20px rgb(82, 78, 78);
    background-color: rgba(0, 0, 0, 0.233);
    padding: 20px;
    width: 60%;
    margin-left: 23%;
    margin-top: 80px;
}
#botonLogin {
    background-color: rgb(41, 39, 39); 
    transition: 0.15s;      
}
#botonLogin:hover,#crearUsuario:hover{
    background-color: rgb(99, 194, 218);  
    color: black;    
}
#crearUsuario{
    border: 2px solid  rgb(92, 135, 230);
    padding: 10px;       
    border-radius: 5px;
    transition: 0.15s;
    text-decoration:none;
}
.carousel .carousel-item {
    transition-duration: 2s;
}
.SliderImage{
    width: 100%;
}
#footer{
    border-top: 3px solid rgb(99, 194, 218);    
}
@media (max-width: 990px){
#cabecera h1{
    margin-top: 20px;
}
#slider{
    background-color: rgb(224, 223, 221);
}
.carousel{
    display: none;
}
}
/*-------------------ESTILO MODULO---------------------*/

/* RELOJ */

.timeContainer{
  color: rgb(233, 225, 225);
  background: rgba(0, 0, 0, 0.014);
}
.timeContainer p{
  display: inline;  
}
.date{
  font-size: 0.8rem;
}
.clock{
  color: #007bff;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }

  #dropdownMenuButton:hover { 
    background-color: #007bff;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }  
  /*
   * Sidebar
   */
  
  .sidebar {
    text-align: left;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
    #descriptionMod{      
      margin-top: 30px;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  @supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
      position: -webkit-sticky;
      position: sticky;
    }
  }

  #visorSubmenu .nav-link{
    margin-left: 25px;
    font-size: 0.9rem;
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
  }
  
  .sidebar .nav-link.active {
    color: #007bff;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: blue;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }

  /* Formulario modulos */

  .inventoryForm .form-group { 
    margin-bottom: 0px;
  }

  .inventoryForm .form-row {
    margin-top: 10px;
  }

  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }

  nav h1{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 30px;
    color: rgb(233, 225, 225);
    font-weight: lighter;
    text-shadow: 3px 3px 3px  #86b5e0;      
    margin-top: 10px;
  }

  #descriptionMod{
    font-weight: bold;
    margin-top: 10px;
  }

  .sendUserForm{
    background-color: rgb(67, 144, 207);
    border-color: rgb(112, 161, 201);
    /*margin-top: 15px;*/
    font-size: 1.25em;
  }

  form h5 {
    font-size: 12px;
  }

  h5{
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin: 0px;
    font-size: 18px;
  }
  
  /*--------------------- Listar Empleados ----------------------*/
  #editButton:hover , #deleteButton:hover{
    background-color: slategray;
  }
  /*--------------------- Confirmacion borrar empleado ---------*/



  /*-----------------------Datatables ----------------------*/
  
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
  }

  .dataTables_wrapper {
    font-size: 0.8rem;
  }

  #usersTable_filter label,#areasTable_filter label{
    font-weight: bold;
    font-size: 1.1rem;
  }

  /* Table insert element */

  #elementsTable tr td:nth-child(1),#elementsTable tr td:nth-child(4) {
    background-color: rgb(175, 199, 223);
  } 

  /* Table output element */
  #outputTable tr td:nth-child(2),#outputTable tr td:nth-child(5),#outputTable tr td:nth-child(7) {
    background-color: rgb(175, 199, 223);
  }
  #outputTable tr td:nth-child(1){
    background-color: rgb(233, 191, 175);
  } 

  
  /*----------------------Seach box selection -------------------*/

  .select2-selection{
    text-align: center;
  }
  .select2-container{
    text-align: left;
  }
  .select2-container--bootstrap .select2-selection--single .select2-selection__rendered{
    font-size: 1.1rem;
  }
  .select2-container .select2-selection--single {
    height: 40px !important;
}

.dt-buttons{
  margin-top: 5px;
  float: left;
}