<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gestor Inventario</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/addons/datatables.min.css">
    <link rel="stylesheet" href="/css/addons/datatables-select.min.css">
    <link rel="stylesheet" href="/css/style.css">    
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <!-- Partials -->

    {{!-- {{> message}} --}}
    {{>nav}}
    {{>menu}}
    {{{body}}}  <!-- Parte que cambia -->
    {{>footer}}

    <!-- Scripts -->
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/addons/datatables.min.js"></script>
    <script src="/js/addons/datatables-select.js"></script>
    <script src="/js/script.js"></script> 
    <!-- Modules Scripts -->     
    <script src="/js/feather.min.js"></script>
    <script src="/js/dashboard.js"></script>  

</body>
</html>